[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ccostr"]
	path = ccostr
	url = https://github.com/larshernandez/ccostr
[submodule "dagirlite"]
	path = dagirlite
	url = https://github.com/cran/dagirlite
