[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dagirlite"]
	path = dagirlite
	url = https://github.com/cran/dagirlite
[submodule "sksr"]
	path = sksr
	url = https://github.com/larshernandez/sksr
